@import"../SCSS/reset/reset";
@import"../SCSS/LAYOUT/COLORS";
@import"../SCSS/layout/grid";
@import"../SCSS/COMPONENTS/HEADER";
@import"../SCSS/COMPONENTS/LOGO";
@import"../scss/components/main";
@import"../scss/components/nav";
@import"../scss/components/links";
@import"../scss/components/footer";
@import"../scss/layout/flex";
@import"../scss/mediaqueries/min";
@import"../scss/components/img";
@import"../scss/mediaqueries/tablet";
@import"../scss/mediaqueries/max";
@import"../SCSS/COMPONENTS/CARD";








/*
.carrito {
    width: 28px;
    height: 25px;
}

.section {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
*/